<h1>All tickets</h1>

{{!-- Display tickets list --}}
{{!-- <ul class="list-group">
    {{#each data.tickets}}
    <li class="list-group-item">{{this.id}} {{this.subject}}</li>
    {{/each}}
</ul> --}}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Type</th>
            <th scope="col">Subject</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each data.tickets}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.type}}</td>
            <td>{{this.subject}}</td>
            <td>{{this.priority}}</td>
            <td>{{this.status}}</td>
            <td>{{formatDate this.created_at}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>

{{!-- Previous and next buttons --}}
<span><a class="btn btn-secondary mt-4 {{#if (hasNoValue data.previous_page)}} disabled {{/if}}"
        href="/alltickets{{previous}}">previos
        page</a></span>

<span><a class="btn btn-secondary mt-4 {{#if (hasNoValue data.next_page)}} disabled {{/if}}"
        href="/alltickets{{next}}">next
        page</a></span><br>



<a href="/" class="btn btn-success mt-4">Main Menu</a>