<h1>Single ticket</h1>

{{!-- Input form to search single ticket by id number --}}
<form action="/internal_api/searchticket" method="POST" class="mb-4 w-25">
    <div class="form-group">
        <label for="ticketId">Ticket id:</label>
        <input type="text" name="ticketId" class="form-control" id="ticketId" autocomplete="off">
    </div>
    <input type="submit" value="Search ticket" class="btn btn-primary btn-block">
</form>

{{#if error_message}}
<p>{{error_message}}</p>
{{else}}

{{#if data}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Type</th>
            <th scope="col">Subject</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{data.ticket.id}}</th>
            <td>{{data.ticket.type}}</td>
            <td>{{data.ticket.subject}}</td>
            <td>{{data.ticket.priority}}</td>
            <td>{{data.ticket.status}}</td>
            <td>{{formatDate data.ticket.created_at}}</td>
        </tr>

    </tbody>
</table>
{{/if}}

{{/if}}

<a href="/" class="btn btn-success mt-4">Main Menu</a>